<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand link-light" href="/">Car Service</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <!--                        <a class="nav-link active link-light" aria-current="page" href="#">Home</a>-->
                            </li>
                            <li class="nav-item">
                                <!--                        <a class="nav-link link-light" href="#">Makes</a>-->
                            </li>
                            <li class="nav-item">
                                <!--                        <a class="nav-link link-light" href="#">Car</a>-->
                            </li>
                        </ul>
                        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" th:action="@{'/searchtemplate'}" method="GET">
                            <button type="submit" class="btn btn-outline-light me-2">Search</button>
                            <!--                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search category"-->
                            <!--                           aria-label="Search">-->
                        </form>
                        <div class="text-end">
                            <button type="button" class="btn btn-outline-light me-2">Login</button>
                            <button type="button" class="btn btn-warning">Sign-up</button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row" style="padding-top: 30px">
        <div class="col">
            <form action="#" th:action="@{/create}" th:object="${car}" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text">Object Id</span>
                    <input type="text" class="form-control" name="objectId" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Make</span>
                    <select class="form-select" aria-label="Default select example" name="make">
                        <option th:each="make : ${makeArray}"
                                th:value="${make}" th:text="${make.getValue}">
                        </option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Model</span>
                    <input type="text" class="form-control" name="model" required>
                    <span class="input-group-text">Year</span>
                    <input type="text" class="form-control" name="yearRelease" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Category</span>
                    <select class="form-select" aria-label="Default select example" name="category">
                        <option th:each="category : ${categoryArray}"
                                th:value="${category}" th:text="${category.getValue}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary">Create Car</button>
                <a href="/" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
</script>
</body>
</html>
