<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand link-light" href="/">Car Service</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active link-light" aria-current="page" href="/createcartemplate">Create Car</a>
                    </li>
                    <li class="nav-item">
                        <!--                        <a class="nav-link link-light" href="#">Makes</a>-->
                    </li>
                    <li class="nav-item">
<!--                        <a class="nav-link link-light" href="#">Car</a>-->
                    </li>
                </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" th:action="@{'/searchtemplate'}"
                      method="GET">
                    <button type="submit" class="btn btn-outline-light me-2">Search</button>
                    <!--                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search category"-->
                    <!--                           aria-label="Search">-->
                </form>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" th:action="@{'/logout'}"
                          method="GET">
                        <button type="submit" class="btn btn-warning">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Object Id</th>
                    <th scope="col">
                        <form action="#" th:action="@{''}" method="GET">
                            <button type="submit" class="btn btn-primary-outline" th:name="sort" th:value="make">Make
                            </button>
                        </form>
                    </th>
                    <th scope="col">
                        <form action="#" th:action="@{''}" method="GET">
                            <button type="submit" class="btn btn-primary-outline" th:name="sort" th:value="model">
                                Model
                            </button>
                        </form>
                    </th>
                    <th scope="col">
                        <form action="#" th:action="@{''}" method="GET">
                            <button type="submit" class="btn btn-primary-outline" th:name="sort" th:value="yearRelease">
                                Year
                            </button>
                        </form>
                    </th>
                    <th scope="col">
                        <form action="#" th:action="@{''}" method="GET">
                            <button type="submit" class="btn btn-primary-outline" th:name="sort" th:value="category">
                                Category
                            </button>
                        </form>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car: ${pagedObject}">
                    <td th:text="${car.objectId}"></td>
                    <td th:text="${car.make.getValue}"></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.yearRelease}"></td>
                    <td th:text="${car.category.getValue}"></td>
                    <td style="text-align: right" width=10>
                        <div class="btn-group btn-group-sm text-end" role="group" aria-label="Basic example">
                            <form action="#" th:action="@{'/updatetemplate/' + ${car.objectId}}" method="GET">
                                <button type="submit" class="btn btn-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                    </svg>
                                </button>
                            </form>
                            <form action="#" th:action="@{'/' + ${car.objectId}}" th:method="POST">
                                <button type="submit" class="btn btn-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:classappend="${pagedObject.isFirst()} ? disabled" class="page-item">
                        <a class="page-link"
                           th:href="@{''(size=${pagedObject.getSize()}, page=0)}">&laquo;
                        </a>
                    </li>
                    <li th:classappend="${pagedObject.isFirst()} ? disabled" class="page-item">
                        <a class="page-link"
                           th:href="@{''(size=${pagedObject.getSize()}, page=${pagedObject.previousOrFirstPageable().getPageNumber()})}">&larr;
                        </a>
                    </li>
                    <li th:classappend="${pagedObject.getNumber() == (page)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(0, pagedObject.getTotalPages() -1)}" class="page-item">
                        <a class="page-link" th:href="@{''(size=${pagedObject.getSize()}, page=${page})}"
                           th:text="${page + 1}">

                        </a>
                    </li>
                    <li th:classappend="${pagedObject.isLast()} ? disabled" class="page-item">
                        <a class="page-link"
                           th:href="@{''(size=${pagedObject.getSize()}, page=${pagedObject.nextOrLastPageable().getPageNumber()})}">&rarr;
                        </a>
                    </li>
                    <li th:classappend="${pagedObject.isLast()} ? disabled" class="page-item">
                        <a class="page-link"
                           th:href="@{''(size=${pagedObject.getSize()}, page=${pagedObject.getTotalPages() - 1})}">&raquo;
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
</script>
</body>
</html>
